.product{
    width: 300px;
    height: 450px;
    border: 2px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 20px;
    /* text-align: center; */
    position: relative;
}

.product img{
    width: 216px;
    height: 216px;
    margin:10px 41px ;
    border-radius: 5px;
}
.product-info{
    margin-bottom: 40px;
    margin-left: 8px;
}
.product-info p{
    margin: 8px 0;
}

.product button{
    background-color: rgb(166, 88, 255);
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    padding: 15px;
    width: 100%;
    font-weight: 300;
    color: #0E161A;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    color: #ffff;

}