@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Nanum+Myeongjo:wght@700;800&family=Palette+Mosaic&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
/* Google font  */


.main-page{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 38px 40px;
}

.products-info{
    padding: 18px 40px;
    border-left: 1px solid #a2d870;
}

/* cart information style  */
.cart-item-info{
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border: 1px solid #a2d870;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;
    
}
.cart-item-info img{
    width: 50px;
    border: 1px solid rgb(244, 0, 252);
    border-radius: 10px;
}
.cart-item-info span{
    font-size: 23px;
    margin-left: 25px;
}

.products-info h3{
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    background-color: #a2d870;
    padding: 10px;
    display: flex;
}

.messageBar{
    height: 40px;
    width: 4px;
    background-color: rgb(250, 141, 40);
    display: inline-block;
    margin:10px;
}

.rest-btn{
    padding: 12px;
    background-color: rgb(166, 88, 255);
    border: 0;
    border-radius: 4px;
    margin-left: 165px;
    font-size: 16px;
    color: white;
}
.spin-btn{
    padding: 12px;
    background-color: rgb(255 88 219);
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    color: white;
}

/* lottery div style */
.lotteryDiv{
    /* border: 1px solid rgb(65, 65, 255); */
}
.lotteryDiv img{
    width: 120px;
    border-radius: 10px;
}





/* responsive    */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-page{
        display: grid;
        grid-template-columns: 1fr;
    }
.products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}