/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Nanum+Myeongjo:wght@700;800&family=Palette+Mosaic&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

.App{
    font-family: 'League Gothic', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.storeName{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    padding: 10px;
    color: rgba(153, 64, 255, 0.918);
    font-weight: 400;
    border-bottom: 1px solid blue;
}
.storeName span{
    color: rgb(255 88 219);
    font-family: 'Palette Mosaic', cursive;
    font-weight: 800;
    font-size: 48px;
}